/*------------------------------------------------------
sitemap 
-------------------------------------------------------*/

h3.ttl {
	margin: 0 auto 10px auto;
	}

 #sitemap {
	float: left;
	padding: 0 0 61px 0;
	width: 676px;
	margin:0 auto;
}

 #sitemap h2 {
	margin: 0 0 40px 0;
}

 #sitemap .section {
	width: 664px;
	margin: 0 auto 28px auto;
}

 #sitemap .section h3 {
	width: 211px;
	padding: 9px 0 0 18px;
	float: left;
	border-top: 1px solid #cccccc;
}

 #sitemap .section ul {
	float: right;
	width: 429px;
	padding:3px 0 0 ;
	border-top: 1px solid #cccccc;
}



 #sitemap .section ul li {
	padding: 5px 0 5px 22px;
	background-image: url(/images/ill_01.gif);
	background-repeat: no-repeat;
	background-position: 5px 4px;
}


 #sitemap .section ul li ul li ,
 #sitemap .section ul li ul {
	clear: both;
	border: 0px;
	background-image: none;
}



 #sitemap .section ul li ul {
	width: 235px;
	float: right;
}

 #sitemap .section ul li ul li {
		padding: 0 0 10px 0;
		margin: 0;
}


